body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
}

a{
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;

	background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
 	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover{
	color: #fb565a;
	border: 0;
}

.main-navigation img:hover{
	opacity: 0.8;
}

.site-navigation a:active,
.user-navigation a:active,{
	color: rgba(0, 0, 0, 0.3);
	border: 0;
}

.main-navigation img:active{
	opacity: 0.3;
}

.site-navigation-current a{
	border-bottom: 2px solid #fb565a;
}


.slider {
	background-color: #eeeeee;
}

.slides-list {
	list-style: none;
}

.slide-name {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.services-list {
	list-style: none;
}

.service-item h3{
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.button {
	font: inherit;
	
	font-weight: 500;
	line-height: 18px;
	background-color: #fb565a;
	color: #ffffff;
	text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.button:hover{
	background-color: #e74246;
}

.button:active{
	background-color: #d7373b;
	color: rgba(215, 55, 59, 0.3);
}

.button-more:hover{

}

.button-apps{
	background-color: #00ca74;
}

.button-apps:hover{
	background-color: #00bc6c;
}

.button-apps:active{
	background-color: #00aa62;
}

.button-presentations{
	background-color: #efc84a;
}

.button-presentations:hover{
	background-color: #eab534;
}

.button-presentations:active{
	background-color: #e5a722;
}

.info-name{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.info-orders{
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.features{
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.features-list {
	list-style: none;
}

.features-item{
	font-size: 45px;
	color: #000000;
	line-height: 10,06px;
}

.features-item p{
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-transform: none;
}

.percent{
	vertical-align: super;
}

.logo-list {
	list-style: none;
}

.logo-item img{
	opacity: 0.2;
}

.logo-item img:hover{
	opacity: 1;
}

.logo-item img:active{
	opacity: 0.1;
}

.contacts{
	background-color: #ffffff;
	color: #666666;
}

.contacts-title{
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #000000;
}

.footer-description b{
	font-weight: 700;
	color: #000000;
	font-size: 36px;
	line-height: 36px;
}

.footer-description p{
	color: #444444;
	font-size: 16px;
	line-height: 22px;
}

.modal-write-us{
	background-color: #ffffff;
	color: #000000;
}

.modal-write-us h2{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.modal-write-us label{
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.write-us-form input[type="text"],
.write-us-form input[type="textarea"]{
	font: inherit;
	line-height: 18px;
	color: #a1a1a1;
	border: 2px solid #d7dcde;
}

.write-us-form input:hover{
	border: 2px solid #b4b9bb;
}

.write-us-form input:focus{
	color: #444444;
	border: 2px solid #000000;
}

.write-us-form input:invalid{
	color: #e74246;
	border: 2px solid #e74246;
}

.button-write-us{
	border: 0;
}

.page-title{
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.filter{
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.filter fieldset {
	border: none;
}

.filter ul {
	list-style: none;
}

.filter-sort a{
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	opacity: 0.3;
}

.filter-sort a:hover {
	opacity: 0.6;
}

.filter-sort a:active{
	opacity: 1;
}

.filter-sort-current a{ 
	opacity: 1;
}

.filter p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400px;
	color: #283136;
}

.filter span {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400px;
	color: #283136;
	background-color: #eeeeee;
}

.filter-net li{
	line-height: 20px;
	color: #283136;
}

.filter-input-radio:hover + label{
  color: #000000;
}

.filter-input:disabled + label{
	opacity: 0.3;
}

.filter-features li{
	line-height: 20px;
	color: #283136;
}

.filter-button{
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	border: 0;
}

.filter-button:hover{
	background-color: #dfdfdf;
}

.filter-button:active{
	opacity: 0.3;
	background-color: #d5d5d5;
	border-top: #bfbfbf;
}

.catalog-list {
  list-style: none;
}

.catalog-item img{
	border: 1px solid rgba(0, 0, 0, 0.1);
}


.catalog-item img:hover {
	border: 1px solid rgba(77, 77, 77, 0.1);
 	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-price{
	background-color: #eeeeee;
}

.catalog-price a{
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.catalog-price p{
	line-height: 18px;
	color: #666666;
}

.button-price {
	font-size: 16px;	
	line-height: 18px;
	font-weight: 500;
	background-color: #fb565a;
	color: #ffffff;
	text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.pagination-list {
  list-style: none;
}

.pagination-list a{
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
}

.pagination-item-current a{
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
}

.pagination-list a:hover{
	background-color: #dfdfdf;
}

.pagination-list a:active{
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

