body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
	background-color: #eeeeee;
}

.main-header-logo {
	width: 160px;
	height: 65px;
	margin-right: 20px;
}

.container {
	box-sizing: border-box;
	width: 1200px;
  	margin: 0 auto;
  	padding: 0 20px; 
}

.main-navigation {
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	display: flex;
	padding-top: 50px;
	align-items: center;
	justify-content: space-between;
}

.main-navigation ul {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

.site-navigation,
.user-navigation {
 	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
	border: 0;
}

.main-navigation img:hover {
	opacity: 0.8;
}

.site-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
	border: 0;
}

.main-navigation img:active {
	opacity: 0.3;
}

.site-navigation-current a {
	border-bottom: 2px solid #fb565a;
}

.site-navigation {
	display: flex;
	width: 800px;
	justify-content: center;
}

.site-navigation a {
	margin-right: 23px;
	margin-left: 23px;
}

.user-navigation {
	width: 180px;
	text-align: right;
}

.slider {
	background-color: #eeeeee;
	position: relative;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls i {
	position: relative;
  	display: inline-block;
  	width: 18px;
  	height: 18px;
  	padding: 8px;
  	border-radius: 50%;
  	cursor: pointer;
}

.slider-controls i::after {
  	content: "";
  	width: 18px;
  	height: 18px;
  	position: absolute;
  	top: 8px;
  	left: 8px;
  	z-index: 1;
  	border-radius: 50%;
  	background: #ffffff;
}

.slider-controls .active::before {
  	content: "";
  
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	z-index: 2;
  
  	width: 4px;
  	height: 4px;
  	margin: -4px;
  
  	background-color: inherit;
  	border: 2px solid #c1c1c1;
  	border-radius: 50%;
}

.slides-list {
	list-style: none;
	margin: 0;
  	padding: 0;
}

.slide-item {
  	display: none;
  	padding: 78px 0 80px 0;
}

.slide-item:nth-child(1) {
  	display: block;
}

.slide-item:nth-child(1) {
  	background-image: url("../img/slide1.png");
  	background-repeat: no-repeat;
  	background-position: 93% 18px;
}

.slide-item:nth-child(2) {
  	background-image: url("../img/slide2.png");
  	background-repeat: no-repeat;
  	background-position: 100% 0;
}

.slide-item:nth-child(3) {
  	background-image: url("../img/slide3.png");
  	background-repeat: no-repeat;
  	background-position: 100% 20px;
}

.slide-name {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	max-width: 600px;
  	margin: 0;
  	margin-bottom: 27px
}

.slide-desc {
  	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}

.button {
	display: block;
	font: inherit;
	width: 240px;
  	padding: 15px 0;
	font-weight: 500;
	line-height: 18px;
	background-color: #fb565a;
	color: #ffffff;
	text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);	
}

.services {
	margin-bottom: 80px;
}

.services-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 81px;
}

.service-item:nth-child(2) {
	margin-left: 100px;
	margin-right: 100px;
}

.service-item img {
	margin-bottom: 20px;
}

.service-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 16px;
}

.service-item p {
	margin: 0;
	margin-bottom: 31px;
}

.button-sites {
	width: 160px;
	height: 50px;
	padding-top: 0 16px;
	box-sizing: border-box;
}

.button-apps {
	width: 160px;
	height: 50px;
	padding-top: 0 16px;
	box-sizing: border-box;
	background-color: #00ca74;
}

.button-apps:hover {
	background-color: #00bc6c;
}

.button-apps:active {
	background-color: #00aa62;
}

.button-presentations {
	width: 160px;
	height: 50px;
	padding-top: 0 16px;
	box-sizing: border-box;
	background-color: #efc84a;
}

.button-presentations:hover {
	background-color: #eab534;
}

.button-presentations:active {
	background-color: #e5a722;
}

.studio {
	padding-top: 73px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #eeeeee;
	background-image: url(../img/nerds-illustration.jpg);
	background-repeat: no-repeat;
	background-position: 800px 40px;
}

.info-name {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
	margin: 0;
	margin-bottom: 34px;
	max-width: 780px;
}

.info-desc {
	margin: 0;
	margin-bottom: 40px;
	max-width: 780px;
}

.info-orders {
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
}

.info-item {
	margin-top: 23px;
	margin-bottom: 23px;
}

.features {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	width: 360px;
	min-height: 200px;
	align-self: flex-end;
}

.features ul {
	padding: 0;
	margin-top: 40px;
}

.features p {
	text-align: center;
	margin-top: 10px;
}

.features-list {
	list-style: none;
	display: flex;
}

.features-item {
	font-size: 45px;
	color: #000000;
	line-height: 10,06px;
	margin-bottom: 10px;
}

.features-item p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-transform: none;
	margin-top: 20px;
	text-align: left;
}

.logo-list {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	height: 180px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	padding-right: 40px;
	padding-left: 30px;
}

.logo-item img {
	opacity: 0.2;
}

.logo-item img:hover {
	opacity: 1;
}

.logo-item img:active {
	opacity: 0.1;
}

.contacts {
	line-height: 18px;
	background-color: #ffffff;
	color: #666666;
}

.contacts-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.contacts-container {
	background-color: #ffffff;
	width: 319px;
	height: 308px;
	padding: 50px;
	padding-top: 47px;
	padding-bottom: 47px;
}

.contacts-container p {
	margin-bottom: 20px;
}

.button-contacts {
	margin-top: 37px;
	padding: 16px 0;
	width: 219px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
}

.footer-social {
	width: 260px;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #000000;
}

.footer-description {
	width: 760px;
}

.footer-description b {
	font-weight: 700;
	color: #000000;
	font-size: 36px;
	line-height: 36px;
}

.footer-description p {
	margin: 0;
	margin-top: 10px;
	color: #444444;
	font-size: 16px;
	line-height: 22px;
}

.modal-write-us {
	background-color: #ffffff;
	color: #000000;
	width: 960px;
	height: 590px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 85px;
	padding-top: 65px;
}

.modal-write-us h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin: 0;
	margin-left: 20px;
	margin-bottom: 40px;
}

.modal-write-us label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.write-us-form {
	display: flex;
	flex-wrap: wrap;
}

.write-us-item {
	margin-top: 0;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
}

.write-us-item input {
	box-sizing: border-box;
	width: 360px;
	height: 50px;
	padding-left: 12px;
	padding-top: auto;
	padding-bottom: auto;
	margin-top: 5px;
}

.write-us-item:nth-child(3) {
	margin: 0 20px;
}

.write-us-item textarea {
	width: 760px;
	height: 118px;
	padding-top: 10px;
	padding-left: 12px;
	margin-top: 5px;
	box-sizing: border-box;
}

.write-us-form input[type="text"],
.write-us-form textarea {
	font: inherit;
	line-height: 18px;
	color: rgba(68, 68, 68, 0.5);
	border: 2px solid #d7dcde;
	outline-style: none;
}

.write-us-form input:hover, .write-us-form textarea:hover {
	color: rgba(68, 68, 68, 0.5);
	border: 2px solid #b4b9bb;
}

.write-us-form input:focus, .write-us-form textarea:focus {
	color: rgb(68, 68, 68);
	border: 2px solid #000000;
}

.write-us-form input:invalid, .write-us-form textarea:invalid {
	color: #e74246;
	border: 2px solid #e74246;
}

.button-write-us {
	border: 0;
	width: 260px;
	margin-top: 40px;
	margin-left: 20px;
	padding: 17px 0;
}

.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-top: 77px;
	padding-bottom: 110px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filter {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.filter legend{
	text-transform: uppercase;
}

.filter fieldset {
	margin-right: 0;
	margin-left: 0;
  	padding: 0;
	border: none;
}

.range-filter {	
	width: 260px;
	margin-top: 49px;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #eeeeee;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
  	top: 31px;
  	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	line-height: 22px;
	color: #283136;
  	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
  	padding: 8px 10px;
  	margin-left: 10px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #283136;
	border: none;
  	border-radius: 5px;
  	background: #eeeeee;
}

.max-price {
	text-align: right;
}

.filter ul {
	list-style: none;
}

.filter-sort {
	display: flex;
	padding: 0;
	margin: 0;
}

.fieldset-sort {
	width: 760px;
	position: absolute;
	left: 455px;
	top: 406px;
}

.fieldset-sort legend {
	padding: 0;
}

.filter-sort a {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	opacity: 0.3;
}

.filter-sort a:hover {
	opacity: 0.6;
}

.filter-sort a:active {
	opacity: 1;
}

.filter-sort-current a { 
	opacity: 1;
}

.fieldset-container {
	width: 260px;
	margin-top: 52px;
}

.fieldset-price {
	margin-bottom: 52px;
}

.fieldset-net {
	margin-bottom: 50px;
}

.fieldset-features {
	margin-bottom: 50px;
}

.filter-net li {
	line-height: 20px;
	color: #283136;
}

.filter label{
	font-size: 16px;
}

.filter-input-radio:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
	opacity: 0.3;
}

.filter-features li {
	line-height: 20px;
	color: #283136;
}

.filter-button {
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	border: 0;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	opacity: 0.3;
	background-color: #d5d5d5;
}

.catalog {
	margin-top: 55px;
	width: 760px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
	list-style: none;
}

.catalog-item {
	width: 360px;
}

.catalog-item img {
	border: 1px solid rgba(0, 0, 0, 0.1);
}


.catalog-item img:hover {
	border: 1px solid rgba(77, 77, 77, 0.1);
 	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-price {
	height: 231px;
	padding-top: 30px;
	padding-bottom: 43px;
	box-sizing: border-box;
	background-color: #eeeeee;
}

.catalog-title {
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}

.catalog-title a {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.catalog-price p {
	margin: 0;
	margin-bottom: 25px;
	line-height: 18px;
	color: #666666;
	text-align: center;
	margin-bottom: 30px;
}

.button-price {
	width: 200px;
	padding: 16px 0;
	margin-left: 80px;
	font-size: 16px;	
	line-height: 18px;
	font-weight: 500;
	background-color: #fb565a;
	color: #ffffff;
	text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.pagination-list {
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
 	list-style: none;
}

.pagination-item a {
	display: block;
  	padding: 15px 20px;
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination-item {
	margin-right: 11px;
	background-color: #ffffff;
}

.pagination-item-next a {
	padding: 15px 78px;
	text-transform: uppercase;
}

.pagination-item-current a {
	padding: 13px 18px;
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
}

.pagination-list a:hover {
	background-color: #dfdfdf;
}

.pagination-list a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

